.navbar .container .navigasi ul li a:hover {
    color: white;
    background-color: #dd2e2e;
  }
  
  
  @-webkit-keyframes membesar {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
    }
  }
  
  @keyframes membesar {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
    }
  }
  
  @-webkit-keyframes manggadang {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
  @keyframes manggadang {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
  @-webkit-keyframes puta {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(6deg);
              transform: rotate(6deg);
    }
  }
  
  @keyframes puta {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(6deg);
              transform: rotate(6deg);
    }
  }