* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
  }
  
  button:hover {
    -webkit-animation: membesar .1s ease-in-out forwards;
            animation: membesar .1s ease-in-out forwards;
  }
  
  .text-purple {
    color: blueviolet;
  }
  
  .text-pink {
    color: #e2648a;
  }
  
  .text-orange {
    color: #ffae00;
  }
  